<div class="col-xs-12">
  <div>
    <div class="text-center">
      <br>
      <br>
      <div ng-show="question.numProps == clickedProps.size">
        <div ng-click="next()" class="btn btn-primary btn-lg">
          Next
        </div>
        <br>
      </div>
      <div ng-show="question.numProps != clickedProps.size">
        <div ng-click="next()" class="btn btn-primary btn-lg">
          Skip This Question
        </div>
        <br>
      </div>


      <h3>{{100 - time}} seconds left.</h3>
      <br>
      <h5>Find <h1><strong>{{question.numProps - clickedProps.size}} </strong></h1> properties on this alien.
      </h5>
      <br>
      <br>
      <div class="alien-img" ng-show="question.numProps != clickedProps.size">
        <img ng-src="{{question.alien.url}}" alt="" usemap="#Map" class="alienImgs" imageonload="timer()"/>
        <map name="Map" id="Map">
          <div bind-html-compile="question.mode">
          </div>
        </map>
      </div>
      <br>
      <br>
    </div>
  </div>
</div>
