<div class="row text-center">
  <div class="col-xs-3">


  </div>


  <div class="col-xs-6">
    <br>
    <h5>
      In the survey, you will be asked to answer as many questions as possible within 100 seconds.
      Please attempt the following sample problem for practice:
    </h5>
    <h5>Please find and click on <strong>3</strong> properties on this alien.
    </h5>
    <h5>
      Total found: {{clickedProps}}
    </h5>

    <div class="alien-img">
      <img src="assets/images/aliengreyedsome.png" alt="" usemap="#Map" class="alienImgs"/>
      <map name="Map" id="Map">
        <area class="prop_1" ng-click="recordClick('1','.prop_1')" alt="" title="" shape="poly"
              coords="342,93,386,74,393,95,353,107"/>
        <area class="prop_4" ng-click="recordClick('4','.prop_4')" alt="" title="" shape="poly"
              coords="153,228,157,269,165,295,193,292,222,237,219,219,175,209"/>
        <area class="prop_4" ng-click="recordClick('4','.prop_4')" alt="" title="" shape="poly"
              coords="289,246,292,295,300,322,324,325,359,275,347,248,326,222,297,228"/>
        <area class="prop_3" ng-click="recordClick('3', '.prop_3')" alt="" title="" shape="poly"
              coords="171,475,172,482,186,491,193,484,184,478"/>
        <area class="prop_2" ng-click="recordClick('2','.prop_2')" alt="" title="" shape="poly"
              coords="273,484,282,488,295,466,277,470,271,476"/>
      </map>
    </div>


    <br>
    <br>

    <div ng-show="done">
      <button ui-sref="question({id: 0})" class="btn btn-primary btn-lg">Click here to begin the survey</button>
    </div>


  </div>

  <div class="col-xs-3">

  </div>


  <br>
  <br>

</div>
